<div class="container">
    <!-- Header with Title and Tabs -->
    <div class="header-section">
      <h1 class="text-3xl font-bold mb-8">Payments </h1>
  
      <!-- <mat-tab-group class="payments-tabs" [(selectedIndex)]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="PAYMENTS"></mat-tab>
        <mat-tab label="STRUCTURE"></mat-tab>
      </mat-tab-group> -->
    </div>
  
    <!-- Tab Content -->
    <div class="tab-content">
      <!-- Payments Tab Content -->
      <div *ngIf="showPaymentsContent">
        <!-- Filter Section -->
        <form [formGroup]="filterForm" class="filter-section mt-6">
          <div class="filter-header">
            <h2 class="text-xl">Filter Payments</h2>
          </div>
  
          <div class="filter-controls">
            <mat-form-field>
              <mat-label>From Created Date</mat-label>
              <input matInput [matDatepicker]="fromPicker" formControlName="fromDate">
              <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
              <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>To Created Date</mat-label>
              <input matInput [matDatepicker]="toPicker" formControlName="toDate">
              <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
              <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>Buyer</mat-label>
              <input matInput formControlName="buyer">
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>Merchant</mat-label>
              <input matInput formControlName="merchant">
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>Product Code</mat-label>
              <mat-select formControlName="productCode">
                <mat-option *ngFor="let option of productCodeOptions" [value]="option.value">
                  {{option.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <!-- Reset Button Section -->
          <div class="filter-actions">
            <button mat-raised-button color="primary" class="reset-button" (click)="resetFilters()" *ngIf="isFiltersApplied">
              <mat-icon>refresh</mat-icon>
              Reset Filters
            </button>
          </div>
        </form>
  
        <!-- Table -->
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="requestId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Request ID</th>
              <td mat-cell *matCellDef="let payment">{{ payment.requestId }}</td>
            </ng-container>
  
            <ng-container matColumnDef="dateCreated">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</th>
              <td mat-cell *matCellDef="let payment">{{ payment.dateCreated | date }}</td>
            </ng-container>
  
            <ng-container matColumnDef="buyer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Buyer</th>
              <td mat-cell *matCellDef="let payment">{{ payment.buyer }}</td>
            </ng-container>
  
            <ng-container matColumnDef="merchant">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Merchant</th>
              <td mat-cell *matCellDef="let payment">{{ payment.merchant }}</td>
            </ng-container>
  
            <ng-container matColumnDef="invoiceNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Number</th>
              <td mat-cell *matCellDef="let payment">{{ payment.invoiceNumber }}</td>
            </ng-container>
  
            <ng-container matColumnDef="invoiceAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Amount</th>
              <td mat-cell *matCellDef="let payment">{{ payment.invoiceAmount | currency }}</td>
            </ng-container>
  
            <ng-container matColumnDef="creditAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Credit Amount</th>
              <td mat-cell *matCellDef="let payment">{{ payment.creditAmount | currency }}</td>
            </ng-container>
  
            <ng-container matColumnDef="financierReceivables">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Financier Receivables</th>
              <td mat-cell *matCellDef="let payment">{{ payment.financierReceivables | currency }}</td>
            </ng-container>
  
            <ng-container matColumnDef="productCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Code</th>
              <td mat-cell *matCellDef="let payment">{{ payment.productCode.toUpperCase() }}</td>
            </ng-container>
  
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let payment">
                 <button mat-icon-button (click)="onInfo(payment)">
                  <mat-icon>info</mat-icon>
                </button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of payments">
          </mat-paginator>
        </div>
      </div>
      
    </div>
  </div>